.todos {
    background: #fff;
    min-height: 400px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #000;
}

.btnTodo {
    width: 100%;
    margin: 10px 0;
    background: #000;
    color: #fff;
    line-height: 1.5em;
}

.btnTodo:hover {
    background: #f7a41a;
    border: 0;
}

button {
    position: absolute;
    bottom: 100px;
    right: 22px;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 0.5em;
}

button:hover {
    border-color: #f7a41a;
    color: #f7a41a;
}

app-new-todo {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}