.posts, .album, .todos {
    position: relative;
    display: inline-block;
    width: 31%; 
}

.album, .todos {
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .posts, .album, .todos {
        display: block;
        width: 100%;
        margin: 0 0 40px;
    }
}